@inject IRepairDeskApiClient httpClient
@inject IToastService toastService

<!-- NEW SECTION -->
@if (category != null && pagedResult != null && !pagedResult.Items.IsNullOrEmpty())
{
	<div class="section">
		<!-- container -->
		<div class="container">
			<!-- row -->
			<div class="row">

				<!-- section title -->
				<div class="col-md-12">
					<div class="section-title">
						<h3 class="title">New Products</h3>
						<div class="section-nav">
						</div>
					</div>
				</div>
				<!-- /section title -->
				<!-- Products tab & slick -->
				<div class="col-md-12">
					<div class="row">
						<div class="products-tabs">
							<!-- tab -->
							@foreach (var product in pagedResult.Items)
							{
								<div class="col-md-3">
									<ProductBox Product=product />
								</div>
							}
							<!-- /tab -->
						</div>
					</div>
				</div>
				<!-- Products tab & slick -->
			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
	</div>
}
<!-- /SECTION -->


@code {
	private CategoryDetailsModel category;
	private ProductListModelPagedResult pagedResult;

	protected override async Task OnInitializedAsync()
	{
		try
		{
			category = await httpClient.GetCategoryByNameAsync("New");
			if (category != null)
			{
				await LoadPage(category.Id, 1);
			}
		}
		catch{}
	}

    //private async Task AddToCart(int productId)
    //{
    //    try
    //    {
    //        var ciam = new CartItemAddModel
    //            {
    //                ProductId = productId,
    //                Quantity = 1,
    //            };
    //        var result = await httpClient.AddItemToCartAsync(ciam);
    //    }
    //    catch (Exception ex)
    //    {
    //        toastService.ShowError(ex.Message);
    //    }
    //}


    /* pagination */
    private async Task LoadPage(int categoryId, int pageNumber)
    {
        try
        {
            pagedResult = await httpClient.GetProductsByCategoryPageAsync(categoryId, pageNumber);
        }
        catch (Exception ex)
        {
            toastService.ShowError(ex.Message);
        }
    }

}