<div id="top-header">
	<div class="container">
		<ul class="header-links pull-left">
			<li><a href="#"><i class="fa fa-phone"></i> +38599 1111 222</a></li>
			<li><a href="#"><i class="fa fa-envelope-o"></i> oicar@example.com</a></li>
			<li><a href="#"><i class="fa fa-map-marker"></i> 10 000 Zagreb</a></li>
		</ul>
		<AccountBox />
	</div>
</div>

@code {

}
