<ul class="nav">
	<li><NavLink href="/account">My Data</NavLink></li>
	<li><NavLink href="/orders">My Orders</NavLink></li>
	<li><NavLink href="/repairs">My Repairs</NavLink></li>
	<li><NavLink href="/close">Close Account</NavLink></li>
</ul>

@code {

}
