<!-- admin header -->
<div id="header">
	<div class="container-fluid">
		<div class="row col-md-6">
			<div class="header-logo">
				<a class="navbar-brand admin" href="/" style="padding-right:0;">
					RepairDesk<span>.</span>
					</a>
				<a href="/admin" class="navbar-brand admin" style="padding-left:0;padding-top:3rem;">
					<small>ADMIN</small>
					</a>
			</div>
		</div>
		<div class="row col-md-6" style="padding-top:1.5rem;">
			<AccountBox />
		</div>
	</div>
</div>
<!-- /admin header -->

@code {

}
