<EditForm Model="@POS" OnValidSubmit="@OnSubmit">
    <DataAnnotationsValidator />

    <div class="form-group">
        <label for="name">Name:</label>
        <InputText id="name" class="form-control" @bind-Value="POS.Name" />
        <ValidationMessage For="@(() => POS.Name)" />
    </div>

    <div class="form-group">
        <label for="location">Location:</label>
        <InputText id="location" class="form-control" @bind-Value="POS.Location" />
        <ValidationMessage For="@(() => POS.Location)" />
    </div>

    <button type="submit" class=" primary-btn cta-btn">Save New</button>
</EditForm>

@code {
    [Parameter, EditorRequired]
    public POSAddModel POS { get; set; }
    [Parameter, EditorRequired]
    public Func<Task> OnSubmit { get; set; }

}