<ul class="main-nav nav" style="padding-top:10px;">
    <li class="admin-link-li">
        <NavLink href="/admin/poses" style="padding:5px">POSes</NavLink>
    </li>
    <li class="admin-link-li">
        <NavLink href="/admin/poses/new" style="margin-left:30px;padding:5px;">New</NavLink>
    </li>
    <li class="admin-link-li">
        <NavLink href="/admin/categories" style="padding:5px">Categories</NavLink>
    </li>
    <li class="admin-link-li">
        <NavLink href="/admin/categories/new" style="margin-left:30px;padding:5px;">New</NavLink>
    </li>
    <li class="admin-link-li">
        <NavLink href="/admin/products" style="padding:5px">Products</NavLink>
    </li>
    <li class="admin-link-li">
        <NavLink href="/admin/products/new" style="margin-left:30px;padding:5px;">New</NavLink>
    </li>
    <li class="admin-link-li">
        <NavLink href="/admin/orders" style="padding:5px">Orders</NavLink>
    </li>
    <li class="admin-link-li">
        <NavLink href="/admin/repairs" style="padding:5px">Repairs</NavLink>
    </li>
</ul>

@code {

}
