@using Microsoft.AspNetCore.Components.Web
@namespace RepairDesk.BlazorClient.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
	<title>RepairDesk</title>
	<base href="~/" />
	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700" rel="stylesheet">
	<link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" />
	<link rel="stylesheet" href="/css/font-awesome.min.css">
	<link type="text/css" rel="stylesheet" href="/css/style.css" />
	<link href="RepairDesk.BlazorClient.styles.css" rel="stylesheet" />
	<component type="typeof(HeadOutlet)" render-mode="ServerPrerendered" />
</head>
<body>
	@RenderBody()
	<script src="/_framework/blazor.server.js"></script>
</body>
</html>