@page "/payment/failure"

<MainHeader />
<MainNavigation />
<div class="col-md-12 text-center" style="padding:100px;">
    <h3>Ups! Something went wrong.</h3>
    <h3><i class="fa fa-frown-o" aria-hidden="true"></i></h3>
    <h4>Try again?</h4>
    <NavLink href="/checkout" class="primary-btn">Checkout</NavLink>
</div>
<MainFooter />

@code {

}
